	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/11/2017 08:35
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot%3F") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
}
.flaticon-005-pancake:before { content: "\f104"; }
.flaticon-006-macarons:before { content: "\f105"; }
.flaticon-029-cupcake-3:before { content: "\f11c"; }
.flaticon-030-cupcake-2:before { content: "\f11d"; }
.flaticon-034-chocolate-roll:before { content: "\f121"; }