{% extends "base.html" %}
{% load static %}

{% block main %}


<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact__address__item">
                    <h6>КОНТАКТИ</h6>
                    <ul>
                        <li>
                            <span class="icon_pin_alt"></span>
                            <p> Львів, Україна </p>
                        </li>
                        <li><span class="icon_headphones"></span>
                            <p>+380680937724</p>
                        </li>
                        <li><span class="icon_mail_alt"></span>
                            <p> cakeshop.contact@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
            <div class="contact__form">
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        {{ field }}
                    {% endfor %}
                    <button type="submit" class="site-btn">Надіслати</button>
                </form>
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock main %}