{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
        </div>
    </div>
</div>


<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                        <tr>
                            <th>Продукт</th>
                            <th>Кількість</th>
                            <th>Ціна</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in order.items.all %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="{{ item.product.image.url }}" width="100" height="100" alt>
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{ item.product.name }}</h6>
                                        <h5>{{ item.product.price }} грн</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="{{ item.quantity }} {{ item.product.unit }} ">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{ item.calc_total_product_price }} грн</td>
                                <td class="cart__close">
                                    <a href="{% url 'order-item-delete' item.pk %}"><span class="icon_close"></span></a>
                                </td>
                            </tr>
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'product_catalog' %}">Продовжити покупку</a>
                        </div>
                    </div>
<!--                    <div class="col-lg-6 col-md-6 col-sm-6">-->
<!--                        <div class="continue__btn update__btn">-->
<!--                            <a href="shoping-cart.html#"><i class="fa fa-spinner"></i> Update cart</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__discount">
                    <h6>Номер телефону</h6>
                    <form action="{{ order.get_absolute_url }}" method="POST">
                        {% csrf_token %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            {{ field }}
                        {% endfor %}
                        <button type="submit">Підтвердити</button>
                    </form>
                </div>
                <div class="cart__total">
                    <h6>Загальна вартість</h6>
                    <ul>
                        <li>Вартість <span>{{ order.calc_price }} грн</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}