{% extends "base.html" %}
{% load static %}
{% load catalog_tags %}

{% block main %}


<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="index.html">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div>
                          <select id="approach1" class="form-control">
                            <option disabled>what are you interested in?</option>
                            <option value="photos">photos</option>
                            <option value="books">books</option>
                            <option value="recipes">recipes</option>
                          </select>
                    </div>
                </div>
<!--                <div class="col-lg-5 col-md-5">-->
<!--                    <div class="shop__option__right">-->
<!--                        <nav class="header__menu mobile-menu">-->

<!--                        <ul>-->

<!--                            <li><a href="index.html#">Pages</a>-->
<!--                                <ul class="dropdown">-->
<!--                                    <li><a href="shop-details.html">Shop Details</a></li>-->
<!--                                    <li><a href="shoping-cart.html">Shoping Cart</a></li>-->

<!--                                </ul>-->
<!--                            </li>-->

<!--                        </ul>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/details/product-big-1.jpg' %}">
                            <div class="product__label">
                                <span>Cake</span>
                            </div>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="shop.html#">{{ product.name }}</a></h6>
                        <div class="product__item__price">{{ product.price }} ua / {{ product.unit }}</div>
                        <div class="cart_add">
                            <a href="shop.html#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">

                        {% if page_obj.has_previous %}
                              <a class="page-link" style="text-align:center" href="?{% query_transform page=1 %}"><span class="arrow_carrot-left"></span></a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-11' and num < page_obj.number|add:'11' %}
                                <a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                              <a class="page-link" style="text-align:center" href="?{% query_transform page=page_obj.paginator.num_pages %}"><span class="arrow_carrot-right"></span></a>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>{{ page_obj_count_string }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
