{% extends "base.html" %}
{% load static %}

{% block main %}


<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="index.html">Home</a>
                    <a href="shop.html">Shop</a>
                    <span>{{ product.name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__img">
                    <div class="product__details__big__img">
                        <img class="big_img" src="{{ product.image.url }}" alt="{{ product.name }}" width="550" height="550">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    {% for category in product.category.all %}
                        <div class="product__label">{{ category.name }}</div>
                    {% endfor %}

                    <h4>{{ product.name }}</h4>
                    <h5>{{ product.price }} ua  / {{ product.unit }}</h5>
                    <ul>
                        <li>MIN ORDER: <span>{{ product.min_order }}  {{ product.unit }}</span></li>

                    </ul>
                    <div class="product__details__option">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="2">
                            </div>
                        </div>
                        <a href="shop-details.html#" class="primary-btn">Add to cart</a>
<!--                        <a href="shop-details.html#" class="heart__btn"><span class="icon_heart_alt"></span></a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="product__details__tab">
            <div class="col-lg-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="shop-details.html#tabs-1" role="tab">Description</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-8">
                                <p>{{ product.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="related-products spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 style="color:black;"> RELATED PRODUCTS </h4>
            </div>
        </div>
        <div class="row">
            <div class="related__products__slider owl-carousel">
                {% for product in related_products %}

                    <div class="col-lg-3">
                        <div class="product__item">
                            {% if product.image.url %}
                                <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                            {% else %}
                                <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/details/product-big-1.jpg' %}">
                            {% endif %}
<!--                                {% for category in product.category.all %}-->
<!--                                <div class="product__label">-->
<!--                                    <span>{{ category.name }}</span>-->
<!--                                 {% endfor %}-->
<!--                                </div>-->
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                                <div class="product__item__price">{{ product.price }} ua / {{ product.unit }}</div>
                                <div class="cart_add">
                                    <a href="shop-details.html#">Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>


{% endblock main %}