{% extends "base.html" %}
{% load static %}
{% load catalog_tags %}

{% block main %}


<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="index.html">Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form action="#">
                            <select onChange="window.location.href=this.value">
                                {% if category_name %}
                                <option value>{{ category_name }}</option>
                                {% else %}
                                <option value>Категорії</option>
                                {% endif %}
                                <option value="?category=cakes">Торти</option>  # коли доробим окремі сторінки для категорій то воно буде переводити на них по такому принциму
                                <option value="?category=cupcakes">Капкейки</option>
                                <option value="?category=zefir">Зефір</option>

                            </select>
                            <input type="text" name="search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="shop__option__right">
                        <select onChange="window.location.href=this.value">
                            {% if ordering_name %}
                            <option value>{{ ordering_name }} &nbsp; &nbsp; </option>
                            {% else %}
                            <option value>Сортування по: </option>
                            {% endif %}
                            <option value="?{% query_transform ordering='name' %}">Назві</option>  # тут тільки спробувати переробити на темплейт тег "query_transform"
                            <option value="?{% query_transform ordering='price_up' %}">Ціна вверх</option>
                            <option value="?{% query_transform ordering='price_down' %}">Ціна вниз</option>  # якщо раптом верхній варіант (без лапок) не працюватиме, то спробуєш з лапками
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="product__item">
                    {% if product.image.url %}
                        <div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}">
                    {% else %}
                        <div class="product__item__pic set-bg" data-setbg="{% static 'img/shop/details/product-big-1.jpg' %}">
                    {% endif %}
                        {% for category in product.category.all %}
                            <div class="product__label">
                                <span>{{category.name}}</span>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="product__item__text">
                        <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                        <div class="product__item__price">{{ product.price }} ua / {{ product.unit }}</div>
                        <div class="cart_add">
                            <a href="shop.html#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">

                        {% if page_obj.has_previous %}
                              <a class="page-link" style="text-align:center" href="?{% query_transform page=1 %}"><span class="arrow_carrot-left"></span></a>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
                            {% elif num > page_obj.number|add:'-11' and num < page_obj.number|add:'11' %}
                                <a class="page-link" style="text-align:center" href="?{% query_transform page=num %}">{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                              <a class="page-link" style="text-align:center" href="?{% query_transform page=page_obj.paginator.num_pages %}"><span class="arrow_carrot-right"></span></a>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>{{ page_obj_count_string }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}
